.registration-container-div{
    /*background-color:skyblue;*/
}

.form-inline{
    /*background-color:aquamarine;*/    
   
}

.form-group{
    /*margin-left:-15px;*/
    padding:0px;
}

.top-buffer{
    margin-top:20px;
    padding:0px;
}

    