.search-container-div{
    /*background-color:skyblue;*/
}

.zeroRecordMsg{
    font-family:Arial;
    font:xx-large;
    margin-left:20px;
    color:orange;
      
}

.page-header{
    color:black;
}

.input-group{
    padding:0px;
}

.peopleDetails{
    margin-top:60px;
    background-color:white;
}

.search-span:hover {
    opacity: .8;
    background-color: dodgerblue;
}

.search-span {
    cursor: pointer;
    background-color: cornflowerblue;
}

.search-link {
    background-color: #0040ff;
}

.search-btn {
    border: none;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}


div#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url('../../Resources/Images/loading.gif') no-repeat center rgba(135,206,235,.5);
    background-size: 100px;
    text-align: center;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    z-index: 2;
    overflow: auto;
    /*background: rgba(135,206,235,.5);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


